.tasks {
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__form-input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background-color: var(--input-color);
  }
  &__form-input {
    background-color: var(--input-color);
    color: #fff;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 10px;
  }
  &__form-btn {
    display: block;
    padding: 18px 0;
    margin: 20px;
    font-size: 20px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    outline: none;
  }
  &__form-close {
    cursor: pointer;
    position: absolute;
    padding: 5px;
    width: 30px;
    height: 30px;
    top: 5%;
    right: 5%;
    background: url("../../../img/icons/close.svg") center center/contain no-repeat;
    fill: var(--grey);
  }
  &__list {

  }
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid var(--grey);
    padding: 30px 20px;
  }
  &__item-text {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 85%;
    gap: 15px;
    &_active {
      .tasks__item-checkbox {
        display: none;
      }
      .tasks__item-value {
        display: none;
      }
      .tasks__item-input {
        display: block;
      }
    }
  }
  &__item-checkbox {
    cursor: pointer;
    position: relative;
    padding-left: 35%;
    &::before {
      position: absolute;
      top: -35%;
      left: -35%;
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      background-color: var(--bg-color);
    }
    &:checked {
      &::before {
        background: var(--bg-color) url("../../../img/icons/check-mark.svg") center center/contain no-repeat;
      }
    }
  }
  &__item-value {
    cursor: pointer;
    word-wrap: break-word;
    width: 100%;
    transition: color .3s;
    font-size: 20px;
    &:hover {
      color: var(--accent-color);
    }
  }
  &__item-input {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
  }
  &__item-buttons {
    position: relative;
    display: flex;
    gap: 20px;
  }
  &__item-favorite-btn {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    fill: var(--dark);
    &_active {
      fill: var(--red-color);
    }
    &:hover {
      fill: var(--light-blue);
    }
  }
  &__item-delete-btn {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    fill: var(--dark);
    &:hover {
      fill: var(--light-blue);
    }
  }
  &__create-btn {
    cursor: pointer;
    border: 1px solid var(--dark);
    padding: 20px;
    text-align: center;
    &:hover {
      border: 1px solid transparent;
      outline: 3px solid var(--light-blue);
    }
  }
}