.header {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  color: var(--dark);
  font-size: 20px;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  box-shadow: 0 0 5px var(--dark);
  transition: all .3s;
  @media (min-width: 769px) {
    top: calc(var(--header-height) * -1);
    &:hover {
      top: 0;
    }
  }
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__nav {
  }
  &__link-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__link-item {
    width: 50px;
    height: 50px;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--dark);
    fill: var(--dark);
    &_active {
      fill: var(--accent-color);
      box-shadow: 0 0 10px var(--accent-color);
    }
  }
  &__link-icon {
    fill: inherit;
    width: 100%;
    height: 100%;
  }
  &__trigger {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--trigger-height);
    bottom: calc(var(--trigger-height) * -1);
    @media (min-width: 769px) {
      display: flex;
    }
  }
  &__arrow-icon {
    width: 20px;
    fill: var(--dark);
    transform: rotate(-90deg);
  }
}